@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    background-color: #E6E6BC;
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -text-size-adjust: 100%;
    color: #fff;
}

*, *::before, *::after {
    box-sizing: inherit;
}
    
.img-flex {
    display: block;
    width: 100%;   
}
    
a,
a:link,
a:visited {
    color: #fff;
}
    
.img-border {
    border: url("../images/panel-border.png")center;
}
    
.masthead {
    background: transparent url("../images/masthead-bg.png") repeat left center;
    text-align: center;
}

.title {
    display: inline-block;
    background-color: #E6E6BC;
    color: black;
}

.logo {
    margin: 0 0.2em 0 0;
    width: 1.2em;
    vertical-align: middle;
}

.box-1 {
    background: #87714F;
}

h2 {
    text-align: center;
    font-size: 1em;
}

p {
    text-align: center;
    margin-top: 0;
    font-size: 1.5em;
    padding-top: 1em;
}

ul {
    font-size: 0.8em;
    margin-top: 0;
    padding-bottom: 1em;
}

.img-border {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    background: transparent url("../images/panel-border.png") 30 30 30 30 stretch stretch;
    border-width: 30px 30px 30px 30px;
}

.icon {
    width: 20%;
    margin: 0% auto;
    display: inline;
}
    